.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 5px;
  width: 80px;
  background-color: #154e6e;
  height: 100vw;
  font-size: 0.8em;
  text-align: center;
}
.Btn-Menu {
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
}

.Btn-Menu:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.Btn-Menu img {
  width: 25px;
  margin-bottom: 10px;
}

.Active {
  background-color: #3bacff;
}
