.Card {
  margin: 10px;
  display: flex;
  box-shadow: 2px 0px 2px 0px #00000021;

}

.Card-Image {
  position: relative;
}

.Card-Valor {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 1.5em;
}
.Card-Info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Card-Infos {
  padding: 10px;
}
.Card-Items {
  display: flex;
  align-items: center;
  margin-top: auto;
  background-color: #f5f1f1;
  padding: 10px;

}

.Card-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.Button-Visualizar {
  margin-left: auto;
  background-color: #3bacff;
  color: #fff;
  border-radius: 3px;
}

.Button-Visualizar button {
  background-color: transparent;
  border: none;
  padding: 10px;
}