.App-logo {
  height: 50px;
  width: 80px;
  padding: 10px 9px;
  background-color: #3bacff;
}

.App-header {
  background-color: #3090cd;
  display: flex;
  align-items: center;
  color: white;
}

.App-title {
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.1px;
  margin: 0 20px;
}

.App-intro {
  font-size: large;
}

.Main {
  display: grid;
  grid-template-areas: 'Menu Filters Cards';
  grid-template-columns: 80px 200px auto;
  grid-gap: 20px;
  background-color: #f3f5f7;
  position: relative;
}

.App-Cards {
  margin-top: 10px;
  margin-right: 20px;
  box-shadow: 2px 0px 2px 0px #00000021;
  grid-area: Cards;
  background-color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
